infrastructure/core/service-account.json
infrastructure/core/.terraform

infrastructure/deploy/service-account.json
infrastructure/deploy/.terraform

**/node_modules
**/dist

infrastructure/core/terraform.tfstate.d/dev/terraform.tfstate.backup
infrastructure/core/.terraform.lock.hcl
infrastructure/core/terraform.tfstate.d/dev/terraform.tfstate
infrastructure/core/terraform.tfstate

infrastructure/deploy/terraform.tfstate.d/dev/terraform.tfstate.backup
infrastructure/deploy/.terraform.lock.hcl
infrastructure/deploy/terraform.tfstate.d/dev/terraform.tfstate
infrastructure/deploy/terraform.tfstate

secrets/.decrypted~*.yaml
containers/api/.env-f
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate.1640291285.backup
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate.1640291294.backup
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate.1640292183.backup
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate.1640292191.backup
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate.1640292205.backup
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate.1640292212.backup
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate.1640292222.backup
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate.1640292226.backup
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate.1640292234.backup
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate.1640292237.backup
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate.backup
infrastructure/deploy/terraform.tfstate.d/prod/terraform.tfstate.backup
infrastructure/core/terraform.tfstate.d/core/terraform.tfstate
.gitignore
infrastructure/deploy/terraform.tfstate.d/prod/terraform.tfstate
