infrastructure/service-account.json
infrastructure/.terraform
**/node_modules
**/dist
infrastructure/terraform.tfstate.d/dev/terraform.tfstate.backup
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate.d/dev/terraform.tfstate
infrastructure/terraform.tfstate
